@model GStore2.Models.Categoria
@{
    ViewData["Title"] = "Categorias";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="my-4">Categoria</h1>
<h4 class="mb-4">Excluir</h4>

<div class="card my-4 border-dark border-2 rounded-1">
    <div class="card-body">
            <div class="row">
                <div class="col-md-8 col-lg-10">
                    <div class="mb-3">
                        <label asp-for="Nome" class="form-label"></label>
                        <input asp-for="Nome" class="form-control p-2 border-dark border-2 rounded-1" disabled/>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2">
                    <label class="form-label">Foto</label>
                    <img id="Preview" src="@Model.Foto" class="img-fluid p-2 border-dark border-2 rounded-1" />
                </div>
            </div>
            <h4 class="text-danger w-100">Confirma a exclusão desta Categoria?</h4>
                <form asp-action="Delete" class="d-flex mt-4">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-outline-danger me-2">
                        <i class="fas fa-trash me-1"></i> Excluir
                    </button>
                    <a asp-action="Index" class="btn btn-outline-info">
                        <i class="fas fa-save me-1"></i> Voltar
                    </a>
                <form>            
            </div>
        </div>
    </div>

