.card-img-top{
    align-self: center;
    object-fit: contain;
    padding: 20px;
    height: 200px;
}

.card-img-top:hover{
    transform: scale(1.2);
    transition-duration: 1.4s;
    z-index: 100;
}