@{
    ViewData["Title"] = "Acesso Negado";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <h1 class="display-5 text-center">GStore</h1>
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Acesso Negado</h3>
                </div>
                <div class="card-body text-center">
                    <i class="fas fa-ban mt-3 mb-5 text-danger" style="font-size: 84px;"></i>
                    <h4>Você não possui permissão para acessar os resultados solicitados.</h4>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="btn btn-primary">
                        <a class="text-white" asp-action="Index" asp-controller="Home">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>